<<<<<<< HEAD
<p>hola</p>
=======
<div>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Agregar Rol</a></li>
        <li class="divider"></li>
        <li>
            <%= link_to "Agregar Departamento", new_department_path %>
        </li>
        <li class="divider"></li>
        <li> 
                <%= link_to "Sign up" %>
        </li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="right brand-logo">Logo</a>
          <ul class="left hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Asignar</a></li>
          </ul>
        </div>
      </nav>
</div>
 <script>
       $(document).ready(function(){
        $(".dropdown-trigger").dropdown();
  });

 </script>
>>>>>>> af65e83b33f4587bdfb5d7f5fb985e34014d911d
