<% if can? :create, Department%>
	<h1>New Department</h1>
	<%= render 'form', department: @department %>
<% else %>
   <script type="text/javascript">
         window.location.href="/"
   </script>
<% end %>
