
  <div class="row">
  	<br>
  	<br>
    <div class="col s12 m8 l12">
      <div class="card-panel " style="background-color: #E2B254 !important;">
    	<div class="row">
    	<div class="col l12">    		
    	<h1 class="white-text"> <b>ABC PQRs System</b> </h1>
    	</div>	
    	<div class="col l12">	
        <p class="white-text">ABC es una entidad estatal colombiana que se encuentra preocupada por la política  de eficiencia administrativa.  “La gerencia pública moderna y eficiente busca un Estado con capacidad permanente para mejorar su gestión, sus espacios de participación y su interlocución con la sociedad, en procura de la prestación de mejores y más efectivos servicios” (María Lorena Gutiérrez Botero et al. , 2012).
        </p>
    	</div>	
    	</div>
        <br>

      </div>
    </div>
  </div>

            