<% if can? :create, PqrTracking%>

<h1>New Pqr Tracking</h1>

<%= render 'form', pqr_tracking: @pqr_tracking %>

<%= link_to 'Back', pqr_trackings_path %>
<% else %>
<script type="text/javascript">
    window.location.href="/"
</script>
<% end %>
<script>
$(document).ready(function(){
    $('select').formSelect();	
  });
</script>